<form action="<%= user_url(@user) %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Username:
        <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>
    <br />


    <input type="submit" value="Update User">
</form>